POSTGRES_DB=deepalert
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/deepalert
DOCKER_DATABASE_URL=postgresql://postgres:postgres@postgres:5432/deepalert

REDIS_URL=redis://localhost:6379/0
DOCKER_REDIS_URL=redis://redis:6379/0

RECENT_CACHE_SIZE=100

API_HOST=0.0.0.0
API_PORT=8000

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
