POSTGRES_DB=deepalert
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/deepalert
REDIS_URL=redis://localhost:6379/0
RECENT_CACHE_SIZE=100

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin